#navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  background-color: var(--black-3);
  color: var(--white);
}

.navHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 100;
  width: 35%;
}

#expand {
  background-color: '#35393F';
  padding: 1rem 0.5rem;
  cursor: 'pointer';
}

.navLogo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 55%;
}

.navLogo > p {
  font-size: x-large;
  text-transform: capitalize;
  font-weight: 500;
  font-family: 'Roboto Slab', serif;
  letter-spacing: 0.5rem;
  border-right: 1px solid;
  padding: 0.5rem 1.5rem 0 0;
}

.docHeader {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 45%;
  cursor: pointer;
  padding: 0.5rem 0;
  transition: ease-in 0.3s;
}

.docHeader:hover {
  background-color: var(--gray-1);
  border-radius: 0.5rem;
}

.docName > p {
  margin-bottom: 0.4rem;
}

.docName > p:first-child {
  color: var(--dark-white);
}

.docName > p:last-child {
  font-weight: 400;
}

.editFileName {
  all: unset;
  background: none;
  color: var(--dark-white);
  padding: 0;
  border-radius: 0;
  outline: none;
  border-bottom: 1px solid var(--white);
  box-shadow: none !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-weight: 400;
  font-size: medium;
}

.navEditBtns {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 17%;
}

@media (max-width: 1440px) {
  #navContainer {
    padding-right: 1rem;
  }

  .navHeader {
    width: 45%;
  }

  .navLogo {
    width: 55%;
  }

  .navLogo > p {
    padding: 0.5rem 1rem 0 0rem;
  }

  .navEditBtns {
    width: 23%;
  }
}

@media(max-width: 926px) {
  #navContainer {
    padding: 0rem;
  }
  
  .navHeader {
    width: auto;
    flex: 1;
  }
    
  .navLogo > p {
    font-size: large;
    letter-spacing: 0.2rem;
    padding: 0;
    border-right: none;
    display: none; /* Hide on very small screens */
  }
  
  .docHeader {
    display: none;
  }
  
  .navEditBtns {
    width: 40%;
  }
}
