#fileTabContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-left: 1px solid var(--gray1);
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: ease-in 0.2s;
}

#fileTabContainer:hover {
  box-shadow: rgba(255, 255, 255, 0.5) 0px 2px 8px 0px;
}

#fileTabHeader {
  width: 13rem;
  margin: 0 1rem;
}

#fileTabHeader > p:first-child {
  color: var(--gray2);
  margin-bottom: 0.25rem;
}

#fileTabHeader > p:last-child {
  text-wrap: wrap;
}
