#fileContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#fileName {
  max-width: 15rem;
}

#fileName > p:first-child {
  color: var(--gray2);
  margin-bottom: 0.25rem;
}

#fileName > p:last-child {
  text-wrap: wrap;
}