#signupContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 3rem;
  font-family: "Roboto Mono", monospace;
  text-align: center;
  background-color: var(--white2);
  border-radius: 0.5rem;
}

#formHeader {
  margin: 1.5rem 0;
}

#formHeader > p {
  margin: 1rem;
}

#signupFormContainer > form {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  text-align: left;
}

#signupFormContainer > form > label {
  margin-bottom: 1rem;
}

#signupFormContainer > form > input {
  margin-bottom: 2rem;
  padding: 0.5rem;
}

#signupFormContainer > form > input[type='file']::file-selector-button {
  border: none;
  border-radius: 0.3rem;
  padding: 0.5rem 1rem;
  background-color: var(--orange1);
  color: white;
  letter-spacing: 0.2rem;
  font-family: "Roboto Mono", monospace;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}


#signupFormContainer > form > input[type='file']::file-selector-button:hover {
  background-color: var(--orange2);
  transform: scale(1.07);
}

#signupFormContainer > form > button {
  padding: 1rem 0;
  font-family: "Roboto Mono", monospace;
  border-radius: 0.3rem;
  border: none;
  background-color: var(--orange1);
  color: var(--white2);
  margin-bottom: 1rem;
  letter-spacing: 0.2rem;
  cursor: pointer;
  transition: ease-in-out 0.5s;
}

#signupFormContainer > form > button:hover {
  transform: scale(1.15);
}

#signupFormContainer > p {
  margin: 1.5rem 0;
}

.loginLink {
  text-decoration: none;
  color: var(--orange1);
}

.loginLink:hover {
  text-decoration: underline;
}